<div class="Container">
  <div class="Modal" id="modal-attach" [ngClass]="{'is-hidden is-entering': uploadNew }">
    <!-- <a class="Modal-dismissButton"></a> -->
    <div class="Modal-heading">
      Attach Files
    </div>
    <p>
      Choose a file or files to attach.
    </p>
    <ul class="FileList">
      <li *ngFor="let file of files">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <label class="File" for="file--01">
              <i class="Icon Icon--small Icon--file"></i>
              <span class="File-name has-Icon">
                {{file.name}}
              </span>
            </label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <button class="btn btn-sm btn-danger" (click)="removeFile(file.requestId)"
              [disabled]="file.progress.status == 'Done'">
              <!-- <fa-icon [icon]="faTrash"></fa-icon> --> Remove
            </button>

            <button class="btn btn-sm btn-warning" (click)="cancelUpload(file.requestId)">
              <!-- <fa-icon [icon]="faTrash"></fa-icon> --> Cancel
            </button>
          </div>
        </div>
      </li>
      <!-- <li>
        <label class="File" for="file--02">
          <i class="Icon Icon--small Icon--file"></i>
          <span class="File-name has-Icon">
            sale-receipt--002
          </span>
        </label>
        <a class="u-margin-left--small" href=""> Preview</a>
      </li>
      <li>
        <label class="File" for="file--03">
          <i class="Icon Icon--small Icon--file"></i>
          <span class="File-name has-Icon">
            sale-receipt--003
          </span>
        </label>
        <a class="u-margin-left--small" href=""> Preview</a>
      </li> -->
    </ul>
    <div class="u-margin-top--x-large">
      <button class="btn btn-success" style="float: left;" (click)="startUpload()">
        Upload File(s)
      </button>
      <button class="btn btn-success" (click)="cancellAllFiles()">
        Cancell All
      </button>
      <button class="btn btn-primary" id="switch-to-upload" (click)="addNew()" style="float: right;">
        Select new file(s)
      </button>
    </div>
  </div>

  <!---------------------------------->

  <div class="Modal" [ngClass]="{'is-hidden is-leaving': !uploadNew }" id="modal-upload">
    <!-- <a class="Modal-dismissButton"></a> -->
    <div class="Modal-heading">
      Upload a file
    </div>
    <p class="u-margin-bottom--x-small">
      Maximum file size is 5MB.
    </p>
    <p class="u-margin-bottom--x-small">
      Acceptable formats are: *
    </p>
    <div class="u-margin-top--large">
      <button class="btn btn-success" style="float: left;">
        <input type="file" ngxFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
          [uploadInput]="uploadInput" multiple>
      </button>
      <button class="btn btn-primary" (click)="attachFile()" id="switch-to-attach" style="float: right;">
        Go to files
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>